/* Attempted to recreate complementary colors with all font/BG colors. All requested ways to write colors should be included. */
h1{
    color: green;
    background-color: red;
}
h2{
    /* Reversed Hex & Hex Shorthand for H2/H3 */
    color: #00F;
    background-color: #FFA500;
}
h3{
    color: #8F00FF;
    background-color: #FF0;
}
h4{
    /* Reversed Hex w/ Transparency & Hex Shorthand w/ Transparency for H4/H5 */
    color: #F008;
    background-color: #008000;
}
h5{
    color: #FFA50088;
    background-color: #00F;
}
h6{
    color: rgb(255, 174, 66);
    background-color: rgb(75, 0, 130)
}
p{
    color: rgba(255, 255, 0, 0.5);
    background-color: rgb(143, 0, 255);
}
ol li[id="one"]{
    color: hotpink;
}
ol li[id="three"]{
    color: peachpuff;
}
.greenBorder{
    border: 5px solid green;
}